@import url('./scills__item_webpack');
@import url('./scills__item_react');
@import url('./scills__item_js');
@import url('./scills__item_html');
@import url('./scills__item_css');

.scills__item {
    width: 150px;
    height: 200px;
    border: 1px solid red;
}